@import "reset";

/* ================================================== */

body {
  font-family: sans-serif;
  font-size: 1em;
}

.fpo {
  border: 1px dotted #ccc;
  margin: 2em auto;
  max-width: 1000px;
  padding: 2em;
  width: 75%;
}

.center {
  text-align: center;

 & * { margin: 0 auto 3em; }
}

.wraptest {
  margin: 2em;
}

/* ================================================== */

@import "button";

button {
  @include button(tomato, #fff, 4px);
}